*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    background-color: rgba(255, 0, 0, .25);
    border: 1px solid black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    width: 70%;
    color: white; /* DA TOGLIERE */
}

.container-section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    width: 70%;
    color: #23272A;
}

.container-section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    width: 70%;
    color: #23272A;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 70%;
    color: #F8F8F8;
}

.container-footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    max-width: 1200px;
}

.btn{
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
}

/* HEADER */
header{
    background-color: #3161E0;
    height: 100px; /* DA TOGLIERE */
}

header .container-header .logo{
    width: 120px;
    height: 40px;
    background-color: #688DF3;
}

header .container-header .menu{
    width: 530px;
    height: 40px;
    background-color: #688DF3
}

header .container-header .menu ul{
    list-style: none; 
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

header .container-header .menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

header .container-header .menu ul li a:hover{
    text-decoration: underline;
}

header .container-header .menu .log-in{ /* DA RIVEDERE */
    background-color: #FFFFFF;
}
/* END HEADER */

/* MAIN */
/* JUMBOTRON */
main .jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #517AEA;
    height: 575px; /* DA TOGLIERE */
}

main .jumbotron .box-jumbo{
    text-align: center;
    width: 760px;
    height: 275px;
    background-color: #688DF3;
}

main .jumbotron .box-jumbo h1{
    margin-bottom: 50px;
}

main .jumbotron .box-jumbo p{
    margin-bottom: 30px;
}

main .jumbotron .box-jumbo .download{
    height: 55px;
    margin-right: 25px;
    background-color: #FFFFFF;
}

main .jumbotron .box-jumbo .open{
    height: 55px;
    background-color: #23272A;
    color: white;
}
/* END JUMBOTRON */

/* SECTION-1 */
main .section-1{
    background-color: #FFFFFF;
    height: 750px;
}

main .section-1 .img{
    background-color: #688DF3;
    margin-top: 160px;
    height: 395px;
    width: 615px;
}

main .section-1 .text{
    background-color: #688DF3;
    margin-top: 160px;
    height: 450px;
    width: 340px;
}
/* END SECTION-1 */

/* SECTION-2 */
main .section-2{
    background-color: #F6F6F6;
    height: 750px;
}

main .section-2 .img{
    background-color: #688DF3;
    margin-top: 160px;
    height: 375px;
    width: 630px;
}

main .section-2 .text{
    background-color: #688DF3;
    margin-top: 160px;
    height: 245px;
    width: 355px;
}
/* END SECTION-2 */

/* SECTION-3 */
main .section-3{
    background-color: #FFFFFF;
    height: 750px;
}

main .section-3 .img{
    background-color: #688DF3;
    margin-top: 160px;
    height: 420px;
    width: 590px;
}

main .section-3 .text{
    background-color: #688DF3;
    margin-top: 160px;
    height: 305px;
    width: 340px;
}
/* END SECTION-3 */

/* SECTION-4 */
main .section-4{
    background-color: #F6F6F6;
    height: 1380px;
    
}

main .section-4 .text-due{
    background-color: #688DF3;
    text-align: center;
    width: 995px;
    height: 125px;
    margin-top: 160px;
}

main .section-4 .img{
    background-color: #688DF3;
    margin-top: 100px;
    width: 1100px;
    height: 585px;
}

main .section-4 .adventure{
    background-color: #688DF3;
    text-align: center;
    margin-top: 100px;
    width: 587px;
    height: 170px;
}

main .section-4 .adventure span{
    display: block;
}

main .section-4 .adventure .download-2{
    background-color: #8EA1E1;
    color: #FFFFFF;
    margin-top: 50px;
}
/* END SECTION-4 */

/* END MAIN*/

/* FOOTER */
footer{
    background-color: #151719;
    height: 666px;
}

footer .container-footer .footer-top{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid #4A5882;
}

footer .container-footer .footer-top .contacts{
    background-color: #688DF3;
    width: 230px;
    height: 155px;
}

footer .container-footer .footer-top .list{
    background-color: #688DF3;
    margin-left: ;
    width: 105px;
    height: 175px;
}

footer .container-footer .footer-top .risorse{
    background-color: #688DF3;
    margin-left: ;
    width: 105px;
    height: 370px;
}

footer .container-footer-bottom .logo{
    width: 120px;
    height: 40px;
    background-color: #688DF3;
    color: white;
}

footer .container-footer-bottom .btn .registrati{
    background-color: #8EA1E1;
    color: #FFFFFF;
}

/* END FOOTER */